
  

<div class="container tabla">

<p id="notice"><%= notice %></p>

<h1>Lista de Productos</h1>

<div class="table-responsive">
  <table class="table">

  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>

      <th>Precio</th>
      <th>Detalle</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>

        <td><%= image_tag(product.photo) if product.photo? %></td>
        <td><%= product.price %></td>
        <td><%= product.details %></td>
        <td><%= link_to 'Ver', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Borrar', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
</div>

<br>

<button> <%= link_to 'Ingresar Nuevo Producto', new_product_path %></button>

<div class="container text-center">

<h1>Productos!</h1>

<% Product.all.each do |x| %>
  <div class="text-center" style= ";float: left; height: 300px; width: 182px; border: solid #ddd 2px"> 
    <td><%= image_tag(x.photo) if x.photo? %></td>
    <p><%= x.name %></p>
    <p class="h2">$<%= x.price %></p>
    <p><%= x.details %></p>
    <p><%= link_to 'Ver', x %></p>
    <p><%= link_to 'Editar', edit_product_path(x) %></p>
    <p><%= link_to 'Borrar', x, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  
     <%# if user_signed_in? %>
      <%#= form_for([x, Order.new]) do |f| %>
        <%#= f.submit "Agregar", class:"btn btn-primary" %>
      <%# end %> 
    <%# end %>

  </div>
<% end %> 

</div>

</div>



